/* Google Font style */

*{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Overpass', sans-serif;
margin: 0;
padding: 0;
}

.primary-btn{
    margin-top: 10px;
    color: #FFF;
font-size: 15px;
font-weight: 700;
padding: 10px 20px;
border: none;
border-radius: 8px;
background: #E55473;
}


/* Banner Section Styles */

.banner{
    background: rgba(229, 84, 115, 0.10);
padding: 40px 60px 0 60px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content{
    width: 50%;
}

.banner-title{
    margin-bottom: 30px;
}

.banner-description{
    margin-bottom: 10px;
}



/* Footer Style Start */

.footer{
    background-color: black;
    padding: 100px 300px;
    margin: 100px;
    text-align: center;
    color: rgba(255, 255, 255, 0.90);
}

.footer-year{
color: rgba(255, 255, 255, 0.40);
}